<footer class="footer">
  <div class="footer-logo">
    <img src="{{ site.baseurl }}/img/logo-dark.png" alt="Logo da Carlos Eduardo Vieira Engenharia em tamanho médio"/>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Conteúdo</h3></li>
      <li><a href="#servicos">Projetos de Edificações</a></li>
      <li><a href="#servicos">Engenharia de Trânsito</a></li>
      <li><a href="#servicos">PPCI</a></li>
      <li><a href="#servicos">LTIP</a></li>
    </ul>
    <ul>
      <li><h3>Mais</h3></li>
      <li><a href="#contato">Contato</a></li>
      <!--li><a href="#sobre">Curriculum Vitae</a></li-->
      <li><a href="#contato">Trabalhe Conosco</a></li>
      <li><a href="/sitemap.xml">Mapa do Site</a></li>
    </ul>
    <ul>
      <li><h3>Social</h3></li>
      <li>
        <a href="https://www.linkedin.com/profile/view?id=404762400">
          <span class="fa fa-linkedin-square"></span>&nbsp;Linkedin
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/carloseduardovieiraengenharia">
          <span class="fa fa-facebook-square"></span>&nbsp;Facebook
        </a>
      </li>
      <li>
        <a href="http://github.com/vvgomes/vieira">
          <span class="fa fa-github-square"></span>&nbsp;Código Fonte
        </a>
      </li>
    </ul>
  </div>

  <hr>

  <p><span class="fa fa-copyright"></span> 2015 Carlos Eduardo Vieira Engenharia</p>
  <p>Desenvolvido por <a href="http://about.me/vvgomes" target="_blank">Vinicius Gomes <span class="fa fa-external-link"></span></a></p>
  <p>Identidade visual por <a href="http://www.facebook.com/r.corezola" target="_blank">Ricardo Corezola <span class="fa fa-external-link"></span></a></p>
</footer>
