<footer class="footer">
  <div class="footer-logo">
    <span class="fa fa-cubes fa-4x" alt="Logo">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Conteúdo</h3></li>
      <li><a href="#servicos">Projetos de Edificações</a></li>
      <li><a href="#servicos">Engenharia de Trânsito</a></li>
      <li><a href="#servicos">PPCI</a></li>
      <li><a href="#servicos">Regularização Predial</a></li>
    </ul>
    <ul>
      <li><h3>Mais</h3></li>
      <li><a href="#contato">Contato</a></li>
      <li><a href="#sobre">Curriculum Vitae</a></li>
      <li><a href="#contato">Trabalhe Conosco</a></li>
    </ul>
    <ul>
      <li><h3>Social</h3></li>
      <li>
        <a href="javascript:void(0)">
          <span class="fa fa-linkedin-square"></span>&nbsp;Linkedin
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="fa fa-facebook-square"></span>&nbsp;Facebook
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="fa fa-twitter-square"></span>&nbsp;Twitter
        </a>
      </li>
      <li>
        <a href="http://github.com/vvgomes/vieira">
          <span class="fa fa-github-square"></span>&nbsp;Código Fonte
        </a>
      </li>
    </ul>
  </div>

  <hr>

  <p><span class="fa fa-copyright"></span> 2015 Carlos Eduardo Vieira Engenharia</p>
  <p>Desenvolvido por <a href="http://about.me/vvgomes" target="_blank">Vinicius Gomes <span class="fa fa-external-link"></span></a></p>
</footer>
