<header class="navigation">
  <div class="navigation-wrapper">
    <a href="{{ '/' | prepend: site.baseurl }}" class="logo">
      <img src="{{ site.baseurl }}/img/logo-light.png" alt="Logo da Carlos Eduardo Vieira Engenharia em tamanho pequeno" />
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <a href="{{ '/' | prepend: site.baseurl }}" >Inicio</a>
        </li>
        <li class="nav-link more">
          <a href="#servicos">Serviços</a>
          <ul class="submenu">
            <li><a href="#servicos">Projetos de Edificações</a></li>
            <li><a href="#servicos">Engenharia de Trânsito</a></li>
            <li><a href="#servicos">PPCI</a></li>
            <li><a href="#servicos">LTIP</a></li>
          </ul>
        </li>
        <li class="nav-link">
          <a href="#local">Localização</a>
        </li>
        <li class="nav-link">
          <a href="#contato">Contato</a>
        </li>
        <li class="nav-link">
          <a href="#sobre">Sobre</a>
        </li>
      </ul>
    </div>
  </div>
</header>
