<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <span class="fa fa-cubes fa-2x" alt="Logo"></span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <a href="javascript:void(0)">Inicio</a>
        </li>
        <li class="nav-link more">
          <a href="javascript:void(0)">Serviços</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Engenharia Civil</a></li>
            <li><a href="javascript:void(0)">PPCI</a></li>
            <li><a href="javascript:void(0)">Regularização Predial</a></li>
          </ul>
        </li>
        <li class="nav-link">
          <a href="javascript:void(0)">Depoimentos</a>
        </li>
        <li class="nav-link">
          <a href="javascript:void(0)">Localização</a>
        </li>
        <li class="nav-link">
          <a href="javascript:void(0)">Contato</a>
        </li>
        <li class="nav-link">
          <a href="javascript:void(0)">Sobre</a>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Pesquisar..." />
          <button type="submit">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
