<div class="modal service">
  <label for="modal-civil">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-civil" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-civil"></label>
      <h1>
        <div class="bullet-icon bullet-icon-1">
          <span class="fa fa-pencil"></span>
        </div>
        &nbsp;Projetos de Edificações
      </h1>
      <p class="modal-intro">
        Elaboração de projetos de edificações residenciais e 
        comerciais e execução de obras e serviços de engenharia civil.
      </p>
      <div class="modal-content">
        <p>
          Projetos de adequações prediais residenciais, 
          comerciais ou industriais visando regularizações 
          previstas nos Planos de Prevenção Contra Incêndio - 
          <a href="http://www.bombeiros-bm.rs.gov.br/ppci/ppci.html">
            PPCI
          </a>
          ou nos Laudos Técnicos de Inspeções Prediais – LTIP.
        </p>
      </div>
    </div>
  </div>
</div>

