<div class="modal service">
  <label for="modal-civil">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-civil" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-civil"></label>
      <h1>
        <div class="bullet-icon bullet-icon-1">
          <span class="fa fa-pencil"></span>
        </div>
        &nbsp;Projetos de Edificações
      </h1>
      <div class="modal-content">
        <ul class="traditional">
          <li>Elaboração de projetos de edificações residenciais e 
          comerciais e execução de obras e serviços de engenharia civil.</li>
          <li>Projetos de adequações prediais residenciais, comerciais ou industriais.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

