<div class="modal service">
  <label for="modal-ppci">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-ppci" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-ppci"></label>
      <h1>
        <div class="bullet-icon bullet-icon-ppci">
          <span class="fa fa-fire-extinguisher"></span>
        </div>
        <span class="text-after-icon">PPCI</span>
      </h1>
      <!--p class="modal-intro"-->
      <p>
        Plano de Prevenção e Proteção Contra Incêndio
      </p>
      <div class="modal-content">
        <ul class="traditional">
          <li>Elaboração de Plano de Proteção e Prevenção contra Incêndio</li>
          <li>PPCI e encaminhamento para aprovação junto ao Corpo de Bombeiros</li>
        </ul>
      </div>
    </div>
  </div>
</div>

