<div class="modal service">
  <label for="modal-trans">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-trans" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-trans"></label>
      <h1>
        <div class="bullet-icon bullet-icon-trans road-bullet">
          <span class="fa fa-road"></span>
        </div>
        <span class="text-after-icon">Regularização e Reciclagem de Uso</span>
      </h1>
      <p class="modal-intro">
      </p>
      <div class="modal-content">
        <ul class="traditional">
          <li>Entre em contato para mais detalhes.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

