<div class="modal service">
  <label for="modal-ppci">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-ppci" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-ppci"></label>
      <h1>
        <div class="bullet-icon bullet-icon-2">
          <span class="fa fa-fire-extinguisher"></span>
        </div>
        &nbsp;PPCI
      </h1>
      <!--p class="modal-intro"-->
      <p>
        Plano de Prevenção e Proteção Contra Incêndio
      </p>
      <div class="modal-content">
        <ul class="traditional">
          <li>
            Tramitação da 
            <a href="http://www2.portoalegre.rs.gov.br/smov/default.php?p_secao=115">
              documentação exigida pela Prefeitura de Porto Alegre (CMPI)
            </a> 
            para elaboração do 
            <a href="http://www.bombeiros-bm.rs.gov.br/ppci/ppci.html">
              PPCI;
            </a>
          </li>
          <li>Vistoria da edificação;</li>
          <li>Projeto de Prevenção contra Incêndios, conforme LC 14.555;</li>
          <li>Tramitação junto ao Corpo de Bombeiros da documentação e projetos necessários para emissão do Alvará de Prevenção e Proteção contra Incêndios (APPCI);</li>
          <li>Acompanhamento da vistoria do Corpo de Bombeiros para emissão do APPCI;</li>
          <li>
            Elaboração dos seguintes Laudos Técnicos exigidos para o PPCI:
            <ul class="traditional">
              <li>Laudo Elétrico</li>
              <li>Laudo de Controle de Materiais de Acabamento</li>
              <li>Laudo de Compartimentação Horizontal e Vertical</li>
              <li>Laudo de Segurança Estrutural</li>
              <li>Laudo de Capacidade Populacional</li>
              <li>Laudo de Conformidade do Sistema de Proteção contra Descargas Atmosféricas</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

