<div class="modal service">
  <label for="modal-trans">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-trans" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-trans"></label>
      <h1>
        <div class="bullet-icon bullet-icon-1">
          <span class="fa fa-road"></span>
        </div>
        &nbsp;Engenharia de Trânsito
      </h1>
      <p class="modal-intro">
        Projetos de engenharia de trânsito para prefeituras 
        municipais e empresas.
      </p>
      <div class="modal-content">
        <ul class="traditional">
          <li>Consultoria em planejamento de trânsito</li>
          <li>Elaboração de projetos de engenharia de trânsito</li>
        </ul>
      </div>
    </div>
  </div>
</div>

