<div class="modal service">
  <label for="modal-predial">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-predial" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-predial"></label>
      <h1>
        <div class="bullet-icon bullet-icon-predial">
          <span class="fa fa-building"></span>
        </div>
        &nbsp;LTIP
      </h1>
      <!--p class="modal-intro"-->
      <p>
        Laudos Técnicos de Inspeção Predial de acordo com a legislação vigente: 
      </p>
      <div class="modal-content">
        <ul class="traditional">
          <li>Vistoria na edificação</li>
          <li>Elaboração do LTIP com ART conforme <a target="blank" href="http://www2.portoalegre.rs.gov.br/cgi-bin/nph-brs?s1=000033951.DOCN.&l=20&u=/netahtml/sirel/simples.html&p=1&r=1&f=G&d=atos&SECT1=TEXT">Decreto 18.574</a> da Prefeitura de Porto Alegre</li>
          <li>Tramitação junto à Prefeitura do laudo e da documentação exigida</li>
          <li>Elaboração de laudo com recomendações de manutenção para a edificação</li>
          <li>Pagamento de taxas da prefeitura (DAM) e das taxas do CREA-RS</li>
        </ul>
      </div>
    </div>
  </div>
</div>

