<div class="modal service">
  <label for="modal-predial">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-predial" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-predial"></label>
      <h1>
        <div class="bullet-icon bullet-icon-3">
          <span class="fa fa-building"></span>
        </div>
        &nbsp;Regularização Predial
      </h1>
      <div class="modal-content">
        <ul class="traditional">
          <li>
            <p>Laudos técnicos de inspeção predial de acordo com a legislação vigente:</p>
            <ul class="traditional">
              <li>Vistoria na edificação</li>
              <li>Elaboração do LTIP com ART conforme Decreto 18.574 da Prefeitura de Porto Alegre</li>
              <li>Tramitação junto à Prefeitura do laudo e da documentação exigida</li>
              <li>Elaboração de laudo com recomendações de manutenção para a edificação</li>
              <li>Pagamento de taxas da prefeitura (DAM) e das taxas do CREA-RS</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

