<div class="modal">
  <label for="budget-{{ include.service }}">
    <div class="modal-trigger"><span class="fa fa-calculator"></span>&nbsp; Solicitar orçamento</div>
  </label>
  <input class="modal-state" id="budget-{{ include.service }}" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="budget-{{ include.service }}"></label>
      <h1>Orçamento Gratuito</h1>
      <p class="modal-intro">Forneça uma breve descrição das suas necessidades para que possamos lhe enviar uma estimativa ou entrar em contato o mais breve possível.</p>
      <div class="modal-content">
        <form id="{{ include.service }}" class="message" accept-charset="UTF-8" action="http://localhost:5000/messages" method="post">
          <fieldset>
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="callback_url" value="http://localhost:4000/vieira/">
            <input type="hidden" name="message[kind]" value="{{ include.service }}">
            <input type="text" name="message[name]" placeholder="Seu nome" required>
            <input type="email" name="message[email]" placeholder="Seu email" required>
            <input type="text" name="message[telephone]" placeholder="Seu telefone">
            <textarea name="message[content]" placeholder="Sua mensagem" required></textarea>
            <button type="submit"><span class="fa fa-check"></span>&nbsp; Enviar</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

