<div class="modal">
  <label for="modal-1">
    <a>Saiba mais <span>&#187;</span></a>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Orçamento Gratuito</h1>
      <p class="modal-intro">Forneça uma breve descrição das suas necessidades para que possamos lhe enviar uma estimativa ou entrar em contato o mais breve possível.</p>
      <div class="modal-content">
        <form class="message" accept-charset="UTF-8">
          <input type="hidden" name="utf8" value="✓">
          <input type="text" name="name" placeholder="Seu nome" required autofocus>
          <input type="email" name="email" placeholder="Seu email" required>
          <input type="text" name="phone" placeholder="Seu telefone">
          <textarea name="text" placeholder="Sua mensagem" required></textarea>
          <button type="submit"><span class="fa fa-check"></span>&nbsp; Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

