@import 'normalize/normalize';

@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import 'header';
@import 'footer';
@import 'hero';
@import 'bullets';
@import 'comment';
@import 'map';
@import 'side-image';
@import 'modal';

main {
  &:before {
    content: '';
    display: block;

    $default-padding-top: 120px;
    height: $default-padding-top;

    @include media ($large-screen) {
      height: $default-padding-top/2;
    }

    z-index: -1;
  }
}

h1.break {
  text-align: center;
  margin: 2em;
  margin-top: 0;
  padding-top: 2em;
  font-weight: 100;
}

address {
  @include outer-container;
  padding: 25px;
  text-align: center;
}

section.contact {
  @include outer-container;
  text-align: center;
  padding-bottom: 25px;
 
  .message, .phones {
    @include span-columns(10);
    @include shift(1);

    @include media(600px) {
      @include span-columns(8);
      @include shift(2);
    }

    @include media(1000px) {
      @include span-columns(6);
      @include shift(3);
    }
  }
  
  .phones {
    margin-top: 20px;
  }
}

ul.traditional {
  @extend %default-ul;

  li {
    list-style: square;
  }
}

.modal.service {
  .modal-inner {
    width: 60%;

    .bullet-icon {
      width: 50px;
      height: 50px;
      padding: 10px;
      padding-top: 0;
      text-align: center;

      .fa {
        font-size: .7em;
      }
    }
  } 
}
