---
layout: default
---
<div class="hero">
	<div class="hero-inner">
    <div class="hero-logo">
      <span class="fa fa-cubes fa-4x" alt="Logo">
    </div>
		<div class="hero-copy">
      <h1>Carlos Eduardo Vieira <span class="subtitle">Engenharia</span></h1>
        <p>Elaboração de projetos, execução de obras e serviços de engenharia. Consultoria em engenharia de trânsito. Nossa meta é agilidade na conclusão e a garantia da sua safisfação.</p>
		</div>
      <a href="#contato">
        <button>
          <span class="fa fa-comment"></span> &nbsp; Entre em contato
        </button>
      </a>
	</div>
</div>

<a name="servicos">
  <h1 class="break">O que você procura?</h1>
</a>

<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <span class="fa fa-pencil fa-2x"></span>
    </div>
    <div class="bullet-content">
      <h2>Projetos de Edificações</h2>
      <p>
        Elaboração de projetos de edificações residenciais e comerciais 
        e execução de obras e serviços de engenharia civil.
      </p>
      {% include modal-civil.html %}
      <footer>
        {% include modal-orcamento.html %}
      </footer>
    </div>
  </li>  

  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <span class="fa fa-fire-extinguisher fa-2x"></span>
    </div>
    <div class="bullet-content">
      <h2>PPCI</h2>
      <p>
        Plano de Prevenção e Proteção Contra Incêndio - laudos, projeto 
        e execução visando a adequação com a nova legislação. 
      </p>
      {% include modal-ppci.html %}
      <footer>
        {% include modal-orcamento.html %}
      </footer>
    </div>
  </li>

  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <span class="fa fa-building fa-2x"></span>
    </div>
    <div class="bullet-content">
      <h2>Regularização Predial</h2>
      <p>
        Laudos técnicos de inspeção 
        predial de acordo com a legislação vigente. 
      </p>
      {% include modal-predial.html %}
      <footer>
        {% include modal-orcamento.html %}
      </footer>
    </div>
  </li> 

  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <span class="fa fa-road fa-2x"></span>
    </div>
    <div class="bullet-content">
      <h2>Engenharia de Trânsito</h2>
      <p>
        Projetos de engenharia de trânsito para prefeituras municipais e empresas.
      </p>
      {% include modal-trans.html %}
      <footer>
        {% include modal-orcamento.html %}
      </footer>
    </div>
  </li> 
</ul>

<hr />

<a name="local">
  <h1 class="break">Localização</h1>
</a>

<div id="map_canvas"></div>
<address class="vcard">
  <div class="fn org">
    <span class="fa fa-cubes"></span>
    <strong>Carlos Eduardo Vieira Engenharia</strong>
  </div>
  <div class="adr">
    <div class="street-adress">Av. Vicente Montégia 2000/32</div>
    <span class="postal-code">91740-290</spap>
    <span class="locality">Porto Alegre</span> - <span class="region">RS</span>, 
    <span class="country">Brasil</span>
 </div>
</address>

<hr />

<a name="contato">
  <h1 class="break">Contato</h1>
</a>

<section class="contact">
  <form class="message" accept-charset="UTF-8">
    <fieldset>
      <input type="hidden" name="utf8" value="✓">
      <input type="text" name="name" placeholder="Seu nome" required>
      <input type="email" name="email" placeholder="Seu email" required>
      <input type="text" name="phone" placeholder="Seu telefone">
      <textarea name="text" placeholder="Sua mensagem" required></textarea>
      <button type="submit"><span class="fa fa-envelope"></span>&nbsp; Enviar</button>
    </fieldset>
  </form>
</section>

<hr />

<a name="sobre">
  <h1 class="break">Sobre</h1>
</a>

<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>Curriculum Vitae</h4>
      <h1>Carlos Eduardo Viera</h1>
      <p>Profissional de Engenharia Civil desde 1985, licenciado pelo CREA-RS com o número 88885555, também possui licenciamento junto ao CRECI-RS com o número 55553333. Especialista em PPCI, realizou capacitação na área em 2014. Mais de dez mil projetos assinados na carreira. Como gestor público, foi secretário do planejamento de Porto Alegre entre 2003 e 2006 e Diretor do DAER-RS entre 2012 e 2014.</p>
      <button><span class="fa fa-file-text"></span>&nbsp; Veja mais</button>
  </div>
</div>
